extends ../layout

block config
	- var content = 'styleguide'

block content
	main.spacer
		header.block
			h1 Styleguide
			h2 Acts as a showcase of all UI components
		
		article.block
			h1 Colors
			ul
				each value, key in color
					li #{key}: #{value}
		
		article.block
			h1 Fonts
			ul
				each value, key in font
					li #{key}: #{value}
					
		article.block
			h1 Paragraphs
			
			each value in [1, 2, 3]
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
