$color = {}
$color.primary = #795548
$color.primaryDark = #5d4037
$color.primaryLight = #d7ccc8
$color.primaryText = #212121
$color.textMuted = #727272
$color.text = #fff
$color.divider = #b6b6b6
$color.accent = #009688

$font = {}
$font.reading = sans-serif
$font.impact = serif
